In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re

In [ ]:
data=pd.read_excel('/content/dataKasus-1.xlsx')

In [ ]:
data.head(20)

,NO,NAMA,USIA,PARITAS,JARAK KELAHIRAN,RIW HIPERTENSI,RIW PE,OBESITAS,RIW DM,RIW HIPERTENSI/PE DALAM KELUARGA,SOSEK RENDAH,PE/Non PE,Unnamed: 12
0,1,NAMA 1,23 TH,3,< 2 tahun,Tidak,Tidak,Tidak,Ya,Tidak,>UMR,Non PE,NaN
1,2,NAMA 2,29 TH,2,< 2 tahun,Tidak,PEB,Tidak,Tidak,Ada,>UMR,PE,NaN
2,3,NAMA 3,20 TH,1,anak pertama,Tidak,Tidak,Tidak,Tidak,Tidak,>UMR,Non PE,NaN
3,4,NAMA 4,18 TH,1,anak pertama,Tidak,Tidak,Tidak,Tidak,Tidak,>UMR,Non PE,NaN
4,5,NAMA 5,34 TH,3,> 2 tahun,Tidak,Tidak,Tidak,Tidak,Tidak,>UMR,Non PE,NaN
5,6,NAMA 6,28 TH,3,< 2 tahun,Tidak,Tidak,Tidak,Tidak,Tidak,>UMR,Non PE,NaN
6,7,NAMA 7,36 TH,4,> 2 tahun,Tidak,Tidak,Tidak,Tidak,Tidak,>UMR,Non PE,NaN
7,8,NAMA 8,28 TH,2,> 2 tahun,Tidak,Tidak,Tidak,Tidak,Tidak,>UMR,Non PE,NaN
8,9,NAMA 9,39 TH,4,< 2 tahun,Tidak,Tidak,Tidak,Tidak,Tidak,>UMR,Non PE,NaN
9,10,NAMA 10,37 TH,3,> 2 tahun,Tidak,Tidak,Tidak,Tidak,Tidak,>UMR,Non PE,NaN
10,11,NAMA 11,16,0,anak pertama,Tidak,Tidak,Tidak,Tidak,Tidak,>UMR,Non PE,NaN
11,12,NAMA 12,24 TH,1,anak pertama,Ya,Tidak,Tidak,Tidak,Tidak,>UMR,Non PE,HT gestasional
12,13,NAMA 13,31 TH,3,< 2 tahun,Tidak,Tidak,Tidak,Tidak,Tidak,>UMR,Non PE,NaN
13,14,NAMA 14,35 TH,3,> 2 tahun,Tidak,Tidak,Tidak,Tidak,Tidak,>UMR,Non PE,NaN
14,15,NAMA 15,28 TH,2,< 2 tahun,Tidak,Tidak,Tidak,Tidak,Tidak,>UMR,Non PE,NaN
15,16,NAMA 16,13 TH,1,anak pertama,Tidak,Tidak,Tidak,Tidak,Tidak,>UMR,Non PE,NaN
16,17,NAMA 17,21 TH,1,anak pertama,Tidak,Tidak,Tidak,Tidak,Tidak,>UMR,Non PE,NaN
17,18,NAMA 18,36 TH,3,> 2 tahun,Tidak,Tidak,Tidak,Tidak,Tidak,>UMR,Non PE,NaN
18,19,NAMA 19,40 TH,3,> 2 tahun,Tidak,Tidak,Tidak,Tidak,Tidak,>UMR,Non PE,NaN
19,20,NAMA 20,23 TH,2,< 2 tahun,Tidak,Tidak,Tidak,Tidak,Tidak,>UMR,Non PE,NaN

In [ ]:
data.info(20)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 561 entries, 0 to 560
Data columns (total 13 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   NO                                561 non-null    int64
 1   NAMA                              561 non-null    object
 2   USIA                              558 non-null    object
 3   PARITAS                           561 non-null    int64
 4   JARAK KELAHIRAN                   554 non-null    object
 5   RIW HIPERTENSI                    561 non-null    object
 6   RIW PE                            561 non-null    object
 7   OBESITAS                          561 non-null    object
 8   RIW DM                            561 non-null    object
 9   RIW HIPERTENSI/PE DALAM KELUARGA  561 non-null    object
 10  SOSEK RENDAH                      561 non-null    object
 11  PE/Non PE                         561 non-null    object
 12  Unnamed: 12                       11 non-null     object
dtypes: int64(2), object(11)
memory usage: 57.1+ KB

In [ ]:
print("Total Baris : ",data.shape[0])
print("Total Kolom : ",data.shape[1])

Total Baris :  561
Total Kolom :  13

In [ ]:
#Menghilangkan data null
data.isnull()

,NO,NAMA,USIA,PARITAS,JARAK KELAHIRAN,RIW HIPERTENSI,RIW PE,OBESITAS,RIW DM,RIW HIPERTENSI/PE DALAM KELUARGA,SOSEK RENDAH,PE/Non PE,Unnamed: 12
0,False,False,False,False,False,False,False,False,False,False,False,False,True
1,False,False,False,False,False,False,False,False,False,False,False,False,True
2,False,False,False,False,False,False,False,False,False,False,False,False,True
3,False,False,False,False,False,False,False,False,False,False,False,False,True
4,False,False,False,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
556,False,False,False,False,False,False,False,False,False,False,False,False,True
557,False,False,False,False,False,False,False,False,False,False,False,False,True
558,False,False,False,False,False,False,False,False,False,False,False,False,True
559,False,False,False,False,False,False,False,False,False,False,False,False,True
560,False,False,False,False,False,False,False,False,False,False,False,False,True

In [ ]:
data.loc[data['USIA'].isnull()]

,NO,NAMA,USIA,PARITAS,JARAK KELAHIRAN,RIW HIPERTENSI,RIW PE,OBESITAS,RIW DM,RIW HIPERTENSI/PE DALAM KELUARGA,SOSEK RENDAH,PE/Non PE,Unnamed: 12
99,101,NAMA 100,NaN,1,anak pertama,Tidak,Tidak,Tidak,Tidak,Tidak,>UMR,Non PE,NaN
100,102,NAMA 101,NaN,1,anak pertama,Tidak,Tidak,Tidak,Tidak,Tidak,>UMR,Non PE,NaN
262,264,NAMA 263,NaN,1,anak pertama,Tidak,Tidak,Tidak,Tidak,Tidak,>UMR,Non PE,NaN

In [ ]:
data.loc[data['JARAK KELAHIRAN'].isnull()]

,NO,NAMA,USIA,PARITAS,JARAK KELAHIRAN,RIW HIPERTENSI,RIW PE,OBESITAS,RIW DM,RIW HIPERTENSI/PE DALAM KELUARGA,SOSEK RENDAH,PE/Non PE,Unnamed: 12
235,237,NAMA 236,31 th,0,NaN,Tidak,Tidak,Tidak,Tidak,Tidak,>UMR,Non PE,NaN
247,249,NAMA 248,21 th,0,NaN,Tidak,Tidak,Ya,Tidak,Tidak,>UMR,PE,riwayat jantung
264,266,NAMA 265,31 th,0,NaN,Tidak,Tidak,Tidak,Tidak,Tidak,>UMR,Non PE,infertil 12 tahun
274,276,NAMA 275,31 th,0,NaN,Tidak,Tidak,Tidak,Tidak,Tidak,>UMR,Non PE,NaN
297,299,NAMA 298,19 th,0,NaN,Tidak,Tidak,Tidak,Tidak,Tidak,>UMR,Non PE,NaN
319,321,NAMA 320,26 TH,0,NaN,Tidak,Tidak,Tidak,Tidak,Tidak,>UMR,Non PE,NaN
336,338,NAMA 337,24 TH,0,NaN,Tidak,Tidak,Tidak,Tidak,Tidak,>UMR,Non PE,NaN

In [ ]:
data_dup = data.duplicated().any()
print(data_dup)

False

In [ ]:
import pandas as pd
import re
from scipy import stats

# Baca file Excel (ubah 'dataKasus-1.xlsx' dan '2022' sesuai dengan file kamu)
df = pd.read_excel('dataKasus-1.xlsx', sheet_name='2022')

# Fungsi untuk mengekstraksi angka dari string usia
def extract_number(text):
    # Memastikan teks diubah menjadi string terlebih dahulu lalu ambil angka
    match = re.search(r'\d+', str(text))
    return int(match.group()) if match else None  # Mengembalikan None jika tidak ada angka

# Terapkan fungsi ke kolom 'USIA'
df['USIA'] = df['USIA'].apply(extract_number)

# Menghitung Q1 dan Q3 untuk outlier
Q1 = df['USIA'].quantile(0.25)
Q3 = df['USIA'].quantile(0.75)
IQR = Q3 - Q1

# Mendefinisikan batas bawah dan atas untuk outlier
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Mendapatkan data tanpa outlier
df_no_outlier = df[(df['USIA'] >= lower_bound) & (df['USIA'] <= upper_bound)]

# Simpan hasil ke file Excel baru jika diperlukan
df_no_outlier.to_excel('cleaned_data.xlsx', index=False)

print(df_no_outlier)

      NO      NAMA  USIA  PARITAS JARAK KELAHIRAN RIW HIPERTENSI RIW PE  \
0      1    NAMA 1  23.0        3       < 2 tahun          Tidak  Tidak
1      2    NAMA 2  29.0        2       < 2 tahun          Tidak    PEB
2      3    NAMA 3  20.0        1    anak pertama          Tidak  Tidak
3      4    NAMA 4  18.0        1    anak pertama          Tidak  Tidak
4      5    NAMA 5  34.0        3      > 2 tahun           Tidak  Tidak
..   ...       ...   ...      ...             ...            ...    ...
556  558  NAMA 557  40.0        3      > 2 tahun           Tidak  Tidak
557  559  NAMA 558  28.0        3       < 2 tahun          Tidak  Tidak
558  560  NAMA 559  41.0        3      > 2 tahun           Tidak  Tidak
559  561  NAMA 560  32.0        2      > 2 tahun           Tidak  Tidak
560  562  NAMA 561  30.0        2      > 2 tahun           Tidak  Tidak

    OBESITAS RIW DM RIW HIPERTENSI/PE DALAM KELUARGA SOSEK RENDAH PE/Non PE  \
0      Tidak     Ya                            Tidak         >UMR    Non PE
1      Tidak  Tidak                              Ada         >UMR        PE
2      Tidak  Tidak                            Tidak         >UMR    Non PE
3      Tidak  Tidak                            Tidak         >UMR    Non PE
4      Tidak  Tidak                            Tidak         >UMR    Non PE
..       ...    ...                              ...          ...       ...
556    Tidak  Tidak                            Tidak         >UMR    Non PE
557    Tidak  Tidak                            Tidak         >UMR    Non PE
558    Tidak  Tidak                            Tidak         >UMR    Non PE
559    Tidak  Tidak                            Tidak         >UMR    Non PE
560    Tidak  Tidak                            Tidak         >UMR    Non PE

    Unnamed: 12
0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
..          ...
556         NaN
557         NaN
558         NaN
559         NaN
560         NaN

[558 rows x 13 columns]

In [ ]:
#Mengetes data yang unik atau class
unique_classes=data['RIW HIPERTENSI'].unique()
print("Data Target : ",unique_classes)

Data Target :  ['Tidak' 'Ya']

In [ ]:
#Mengubah hasil positive dan negative menjadi numerik
data['RIW HIPERTENSI']=data['RIW HIPERTENSI'].replace({'Tidak':0,'Ya':1})
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 561 entries, 0 to 560
Data columns (total 13 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   NO                                561 non-null    int64
 1   NAMA                              561 non-null    object
 2   USIA                              558 non-null    object
 3   PARITAS                           561 non-null    int64
 4   JARAK KELAHIRAN                   554 non-null    object
 5   RIW HIPERTENSI                    561 non-null    int64
 6   RIW PE                            561 non-null    object
 7   OBESITAS                          561 non-null    object
 8   RIW DM                            561 non-null    object
 9   RIW HIPERTENSI/PE DALAM KELUARGA  561 non-null    object
 10  SOSEK RENDAH                      561 non-null    object
 11  PE/Non PE                         561 non-null    object
 12  Unnamed: 12                       11 non-null     object
dtypes: int64(3), object(10)
memory usage: 57.1+ KB

In [ ]:
data.head(20)

,NO,NAMA,USIA,PARITAS,JARAK KELAHIRAN,RIW HIPERTENSI,RIW PE,OBESITAS,RIW DM,RIW HIPERTENSI/PE DALAM KELUARGA,SOSEK RENDAH,PE/Non PE,Unnamed: 12
0,1,NAMA 1,23 TH,3,< 2 tahun,0,Tidak,Tidak,Ya,Tidak,>UMR,Non PE,NaN
1,2,NAMA 2,29 TH,2,< 2 tahun,0,PEB,Tidak,Tidak,Ada,>UMR,PE,NaN
2,3,NAMA 3,20 TH,1,anak pertama,0,Tidak,Tidak,Tidak,Tidak,>UMR,Non PE,NaN
3,4,NAMA 4,18 TH,1,anak pertama,0,Tidak,Tidak,Tidak,Tidak,>UMR,Non PE,NaN
4,5,NAMA 5,34 TH,3,> 2 tahun,0,Tidak,Tidak,Tidak,Tidak,>UMR,Non PE,NaN
5,6,NAMA 6,28 TH,3,< 2 tahun,0,Tidak,Tidak,Tidak,Tidak,>UMR,Non PE,NaN
6,7,NAMA 7,36 TH,4,> 2 tahun,0,Tidak,Tidak,Tidak,Tidak,>UMR,Non PE,NaN
7,8,NAMA 8,28 TH,2,> 2 tahun,0,Tidak,Tidak,Tidak,Tidak,>UMR,Non PE,NaN
8,9,NAMA 9,39 TH,4,< 2 tahun,0,Tidak,Tidak,Tidak,Tidak,>UMR,Non PE,NaN
9,10,NAMA 10,37 TH,3,> 2 tahun,0,Tidak,Tidak,Tidak,Tidak,>UMR,Non PE,NaN
10,11,NAMA 11,16,0,anak pertama,0,Tidak,Tidak,Tidak,Tidak,>UMR,Non PE,NaN
11,12,NAMA 12,24 TH,1,anak pertama,1,Tidak,Tidak,Tidak,Tidak,>UMR,Non PE,HT gestasional
12,13,NAMA 13,31 TH,3,< 2 tahun,0,Tidak,Tidak,Tidak,Tidak,>UMR,Non PE,NaN
13,14,NAMA 14,35 TH,3,> 2 tahun,0,Tidak,Tidak,Tidak,Tidak,>UMR,Non PE,NaN
14,15,NAMA 15,28 TH,2,< 2 tahun,0,Tidak,Tidak,Tidak,Tidak,>UMR,Non PE,NaN
15,16,NAMA 16,13 TH,1,anak pertama,0,Tidak,Tidak,Tidak,Tidak,>UMR,Non PE,NaN
16,17,NAMA 17,21 TH,1,anak pertama,0,Tidak,Tidak,Tidak,Tidak,>UMR,Non PE,NaN
17,18,NAMA 18,36 TH,3,> 2 tahun,0,Tidak,Tidak,Tidak,Tidak,>UMR,Non PE,NaN
18,19,NAMA 19,40 TH,3,> 2 tahun,0,Tidak,Tidak,Tidak,Tidak,>UMR,Non PE,NaN
19,20,NAMA 20,23 TH,2,< 2 tahun,0,Tidak,Tidak,Tidak,Tidak,>UMR,Non PE,NaN

In [ ]:
#Mengubah hasil positive dan negative menjadi numerik
data['RIW PE']=data['RIW PE'].replace({'Tidak':0,'Ya':1})
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 561 entries, 0 to 560
Data columns (total 13 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   NO                                561 non-null    int64
 1   NAMA                              561 non-null    object
 2   USIA                              558 non-null    object
 3   PARITAS                           561 non-null    int64
 4   JARAK KELAHIRAN                   554 non-null    object
 5   RIW HIPERTENSI                    561 non-null    int64
 6   RIW PE                            561 non-null    object
 7   OBESITAS                          561 non-null    object
 8   RIW DM                            561 non-null    object
 9   RIW HIPERTENSI/PE DALAM KELUARGA  561 non-null    object
 10  SOSEK RENDAH                      561 non-null    object
 11  PE/Non PE                         561 non-null    object
 12  Unnamed: 12                       11 non-null     object
dtypes: int64(3), object(10)
memory usage: 57.1+ KB

In [ ]:
data.head(20)

,NO,NAMA,USIA,PARITAS,JARAK KELAHIRAN,RIW HIPERTENSI,RIW PE,OBESITAS,RIW DM,RIW HIPERTENSI/PE DALAM KELUARGA,SOSEK RENDAH,PE/Non PE,Unnamed: 12
0,1,NAMA 1,23 TH,3,< 2 tahun,0,0,Tidak,Ya,Tidak,>UMR,Non PE,NaN
1,2,NAMA 2,29 TH,2,< 2 tahun,0,PEB,Tidak,Tidak,Ada,>UMR,PE,NaN
2,3,NAMA 3,20 TH,1,anak pertama,0,0,Tidak,Tidak,Tidak,>UMR,Non PE,NaN
3,4,NAMA 4,18 TH,1,anak pertama,0,0,Tidak,Tidak,Tidak,>UMR,Non PE,NaN
4,5,NAMA 5,34 TH,3,> 2 tahun,0,0,Tidak,Tidak,Tidak,>UMR,Non PE,NaN
5,6,NAMA 6,28 TH,3,< 2 tahun,0,0,Tidak,Tidak,Tidak,>UMR,Non PE,NaN
6,7,NAMA 7,36 TH,4,> 2 tahun,0,0,Tidak,Tidak,Tidak,>UMR,Non PE,NaN
7,8,NAMA 8,28 TH,2,> 2 tahun,0,0,Tidak,Tidak,Tidak,>UMR,Non PE,NaN
8,9,NAMA 9,39 TH,4,< 2 tahun,0,0,Tidak,Tidak,Tidak,>UMR,Non PE,NaN
9,10,NAMA 10,37 TH,3,> 2 tahun,0,0,Tidak,Tidak,Tidak,>UMR,Non PE,NaN
10,11,NAMA 11,16,0,anak pertama,0,0,Tidak,Tidak,Tidak,>UMR,Non PE,NaN
11,12,NAMA 12,24 TH,1,anak pertama,1,0,Tidak,Tidak,Tidak,>UMR,Non PE,HT gestasional
12,13,NAMA 13,31 TH,3,< 2 tahun,0,0,Tidak,Tidak,Tidak,>UMR,Non PE,NaN
13,14,NAMA 14,35 TH,3,> 2 tahun,0,0,Tidak,Tidak,Tidak,>UMR,Non PE,NaN
14,15,NAMA 15,28 TH,2,< 2 tahun,0,0,Tidak,Tidak,Tidak,>UMR,Non PE,NaN
15,16,NAMA 16,13 TH,1,anak pertama,0,0,Tidak,Tidak,Tidak,>UMR,Non PE,NaN
16,17,NAMA 17,21 TH,1,anak pertama,0,0,Tidak,Tidak,Tidak,>UMR,Non PE,NaN
17,18,NAMA 18,36 TH,3,> 2 tahun,0,0,Tidak,Tidak,Tidak,>UMR,Non PE,NaN
18,19,NAMA 19,40 TH,3,> 2 tahun,0,0,Tidak,Tidak,Tidak,>UMR,Non PE,NaN
19,20,NAMA 20,23 TH,2,< 2 tahun,0,0,Tidak,Tidak,Tidak,>UMR,Non PE,NaN

In [ ]:
#Mengubah hasil positive dan negative menjadi numerik
data['OBESITAS']=data['OBESITAS'].replace({'Tidak':0,'Ya':1})
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 561 entries, 0 to 560
Data columns (total 13 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   NO                                561 non-null    int64
 1   NAMA                              561 non-null    object
 2   USIA                              558 non-null    object
 3   PARITAS                           561 non-null    int64
 4   JARAK KELAHIRAN                   554 non-null    object
 5   RIW HIPERTENSI                    561 non-null    int64
 6   RIW PE                            561 non-null    object
 7   OBESITAS                          561 non-null    int64
 8   RIW DM                            561 non-null    object
 9   RIW HIPERTENSI/PE DALAM KELUARGA  561 non-null    object
 10  SOSEK RENDAH                      561 non-null    object
 11  PE/Non PE                         561 non-null    object
 12  Unnamed: 12                       11 non-null     object
dtypes: int64(4), object(9)
memory usage: 57.1+ KB

In [ ]:
#Mengubah hasil positive dan negative menjadi numerik
data['RIW DM']=data['RIW DM'].replace({'Tidak':0,'Ya':1})

#Mengubah hasil positive dan negative menjadi numerik
data['RIW HIPERTENSI/PE DALAM KELUARGA']=data['RIW HIPERTENSI/PE DALAM KELUARGA'].replace({'Tidak':0,'Ada':1})

#Mengubah hasil positive dan negative menjadi numerik
data['PE/Non PE']=data['PE/Non PE'].replace({'Non PE':0,'PE':1})
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 561 entries, 0 to 560
Data columns (total 13 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   NO                                561 non-null    int64
 1   NAMA                              561 non-null    object
 2   USIA                              558 non-null    object
 3   PARITAS                           561 non-null    int64
 4   JARAK KELAHIRAN                   554 non-null    object
 5   RIW HIPERTENSI                    561 non-null    int64
 6   RIW PE                            561 non-null    object
 7   OBESITAS                          561 non-null    int64
 8   RIW DM                            561 non-null    int64
 9   RIW HIPERTENSI/PE DALAM KELUARGA  561 non-null    int64
 10  SOSEK RENDAH                      561 non-null    object
 11  PE/Non PE                         561 non-null    object
 12  Unnamed: 12                       11 non-null     object
dtypes: int64(6), object(7)
memory usage: 57.1+ KB

In [ ]:
data.head(20)

,NO,NAMA,USIA,PARITAS,JARAK KELAHIRAN,RIW HIPERTENSI,RIW PE,OBESITAS,RIW DM,RIW HIPERTENSI/PE DALAM KELUARGA,SOSEK RENDAH,PE/Non PE,Unnamed: 12
0,1,NAMA 1,23 TH,3,< 2 tahun,0,0,0,1,0,>UMR,0,NaN
1,2,NAMA 2,29 TH,2,< 2 tahun,0,PEB,0,0,1,>UMR,1,NaN
2,3,NAMA 3,20 TH,1,anak pertama,0,0,0,0,0,>UMR,0,NaN
3,4,NAMA 4,18 TH,1,anak pertama,0,0,0,0,0,>UMR,0,NaN
4,5,NAMA 5,34 TH,3,> 2 tahun,0,0,0,0,0,>UMR,0,NaN
5,6,NAMA 6,28 TH,3,< 2 tahun,0,0,0,0,0,>UMR,0,NaN
6,7,NAMA 7,36 TH,4,> 2 tahun,0,0,0,0,0,>UMR,0,NaN
7,8,NAMA 8,28 TH,2,> 2 tahun,0,0,0,0,0,>UMR,0,NaN
8,9,NAMA 9,39 TH,4,< 2 tahun,0,0,0,0,0,>UMR,0,NaN
9,10,NAMA 10,37 TH,3,> 2 tahun,0,0,0,0,0,>UMR,0,NaN
10,11,NAMA 11,16,0,anak pertama,0,0,0,0,0,>UMR,0,NaN
11,12,NAMA 12,24 TH,1,anak pertama,1,0,0,0,0,>UMR,0,HT gestasional
12,13,NAMA 13,31 TH,3,< 2 tahun,0,0,0,0,0,>UMR,0,NaN
13,14,NAMA 14,35 TH,3,> 2 tahun,0,0,0,0,0,>UMR,0,NaN
14,15,NAMA 15,28 TH,2,< 2 tahun,0,0,0,0,0,>UMR,0,NaN
15,16,NAMA 16,13 TH,1,anak pertama,0,0,0,0,0,>UMR,0,NaN
16,17,NAMA 17,21 TH,1,anak pertama,0,0,0,0,0,>UMR,0,NaN
17,18,NAMA 18,36 TH,3,> 2 tahun,0,0,0,0,0,>UMR,0,NaN
18,19,NAMA 19,40 TH,3,> 2 tahun,0,0,0,0,0,>UMR,0,NaN
19,20,NAMA 20,23 TH,2,< 2 tahun,0,0,0,0,0,>UMR,0,NaN

In [ ]:
#Mengubah hasil positive dan negative menjadi numerik
data['JARAK KELAHIRAN']=data['JARAK KELAHIRAN'].replace({'anak pertama':0,'< 2 tahun':1,'> 2 tahun':2})
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 561 entries, 0 to 560
Data columns (total 13 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   NO                                561 non-null    int64
 1   NAMA                              561 non-null    object
 2   USIA                              558 non-null    object
 3   PARITAS                           561 non-null    int64
 4   JARAK KELAHIRAN                   554 non-null    object
 5   RIW HIPERTENSI                    561 non-null    int64
 6   RIW PE                            561 non-null    object
 7   OBESITAS                          561 non-null    int64
 8   RIW DM                            561 non-null    int64
 9   RIW HIPERTENSI/PE DALAM KELUARGA  561 non-null    int64
 10  SOSEK RENDAH                      561 non-null    object
 11  PE/Non PE                         561 non-null    object
 12  Unnamed: 12                       11 non-null     object
dtypes: int64(6), object(7)
memory usage: 57.1+ KB

In [ ]:
#Normalisasi Data
columns_to_normalize=['JARAK KELAHIRAN']
x_data=data[columns_to_normalize]
x_data.sample(10)

    JARAK KELAHIRAN
195               1
422               0
488               0
450               0
188      > 2 tahun
168               0
29                1
430               0
308      > 2 tahun
413               0

In [ ]:
data.head(10)

,NO,NAMA,USIA,PARITAS,JARAK KELAHIRAN,RIW HIPERTENSI,RIW PE,OBESITAS,RIW DM,RIW HIPERTENSI/PE DALAM KELUARGA,SOSEK RENDAH,PE/Non PE,Unnamed: 12
0,1,NAMA 1,23 TH,3,1,0,0,0,1,0,>UMR,0,NaN
1,2,NAMA 2,29 TH,2,1,0,PEB,0,0,1,>UMR,1,NaN
2,3,NAMA 3,20 TH,1,0,0,0,0,0,0,>UMR,0,NaN
3,4,NAMA 4,18 TH,1,0,0,0,0,0,0,>UMR,0,NaN
4,5,NAMA 5,34 TH,3,> 2 tahun,0,0,0,0,0,>UMR,0,NaN
5,6,NAMA 6,28 TH,3,1,0,0,0,0,0,>UMR,0,NaN
6,7,NAMA 7,36 TH,4,> 2 tahun,0,0,0,0,0,>UMR,0,NaN
7,8,NAMA 8,28 TH,2,> 2 tahun,0,0,0,0,0,>UMR,0,NaN
8,9,NAMA 9,39 TH,4,1,0,0,0,0,0,>UMR,0,NaN
9,10,NAMA 10,37 TH,3,> 2 tahun,0,0,0,0,0,>UMR,0,NaN

In [ ]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

# Contoh data, pastikan sesuai dengan dataset asli
data = pd.DataFrame({
    'JARAK KELAHIRAN': ['anak pertama', '< 2 tahun', '> 2 tahun', '< 2 tahun', 'anak pertama', '> 2 tahun']
})

# Mengubah nilai kategori menjadi angka
category_mapping = {'anak pertama': 0, '< 2 tahun': 1, '> 2 tahun': 2}
data['JARAK KELAHIRAN'] = data['JARAK KELAHIRAN'].replace(category_mapping)

# Cek apakah ada nilai yang tidak valid (misalnya NaN)
print("Jumlah nilai NaN sebelum normalisasi:", data['JARAK KELAHIRAN'].isna().sum())

# Jika ada NaN, isi dengan median (atau kamu bisa menggunakan nilai lain sesuai kebutuhan)
data['JARAK KELAHIRAN'].fillna(data['JARAK KELAHIRAN'].median(), inplace=True)

# Normalisasi menggunakan Min-Max Scaler
scaler = MinMaxScaler()
data['JARAK KELAHIRAN Normalized'] = scaler.fit_transform(data[['JARAK KELAHIRAN']])

# Menampilkan hasil
print(data)

Jumlah nilai NaN sebelum normalisasi: 0
   JARAK KELAHIRAN  JARAK KELAHIRAN Normalized
0                0                         0.0
1                1                         0.5
2                2                         1.0
3                1                         0.5
4                0                         0.0
5                2                         1.0